# Directorios y archivos innecesarios
node_modules/
coverage/
__tests__/
tests/
temp/
tmp/
.idea/
.vscode/
src/

# Archivos temporales y de logs
*.log
*.tmp
*.cache
*.bak
*.swp

# Archivos de entorno
.env
.env.* # Ignorar entornos específicos
!env.example # Incluir el ejemplo

# Configuración de desarrollo
*.spec.js
*.test.js
*.test.jsx
*.snap
jest.*
webpack.config.js

# Reportes y configuraciones
dist/bundle-report.html
dist/stats.json
*.config.*
*.babelrc
*.eslintrc.*

# Archivos generados por el sistema
.DS_Store
Thumbs.db

# Archivos de bloqueo de dependencias
package-lock.json
yarn.lock

# Inclusión específica de `dist/`
dist/
!dist/main.min.js
!dist/vendors.min.css
!dist/vendors.min.js
