# Ignorar directorios innecesarios
pods/
src/
node_modules/
coverage/
__tests__/
tests/
temp/
tmp/

# Ignorar archivos temporales y de logs
*.log
*.tmp
*.cache
*.bak
*.swp

# Ignorar archivos de entorno
.env
.env.*
!env.example # Permitir un archivo de ejemplo

# Ignorar archivos relacionados con el desarrollo
.idea/
.vscode/
*.iml
*.spec.js
*.test.js
*.test.jsx
*.snap

# Ignorar archivos de configuración
*.config.*
*.babelrc
*.eslintrc.*
webpack.config.js
jest.config.js
jest.setup.js

# Ignorar archivos de documentación (mantén solo los necesarios para el paquete)
CHANGELOG.md
LICENSE
README.md

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar directorios y archivos específicos de construcción
build/
dist/
!dist/** # Incluir solo los archivos procesados dentro de `dist/`

# Ignorar bloqueos de dependencias
package-lock.json
yarn.lock

# Ignorar la carpeta git y Dockerfiles
.git/
Dockerfile*
